.dreamRoom-check {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 16px;
  display: flex;
  color: rgb(235,103,83);
  justify-content: center;
  align-items: center;
  background: rgb(235,103,83);
  background: radial-gradient(circle, rgba(235,103,83,0.3841911764705882) 15%, rgba(255,255,255,1) 55%);
}